.card-img-overlay {
    background: rgba(220, 220, 220, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select2-container {
    img {
        width: 48px;
    }
}