.modal-open {
    .modal.modal-center {
        display: flex!important;
        align-items: center!important;
        .modal-dialog {
            flex-grow: 1;
        }
    }
}

.modal-body .col a:first-child {
    padding-left: 0 !important;
}