.station {
    .card-footer i {
        cursor: pointer;
    }
    .card-body {
        display: flex;
        flex-direction: column;

        .card-text:last-child {
            margin-bottom: 1rem;
        }

        .card-grow {
            flex: 1;
        }
    }

}

.talent {
    i {
        cursor: pointer;
    }

    
    .col a:first-child {
        padding-left: 0 !important;
    }
}