.station {
    .card-footer i {
        color: #727271;
        cursor: pointer;
    }
    .card-body {
        display: flex;
        flex-direction: column;

        .card-text:last-child {
            margin-bottom: 1rem;
        }

        .card-grow {
            flex: 1;
        }
    }

}

.talent {
    i {
        color: #727271;
        cursor: pointer;
    }
}