.station {
    .card-footer a {
        color: #727271;
    }
    .card-body {
        display: flex;
        flex-direction: column;

        .card-text:last-child {
            margin-bottom: 1rem;
        }

        .card-grow {
            flex: 1;
        }
    }

}

.talent {
    a {
        color: #727271;
    }
}